<div class="d-flex w-100 bg-dark text-white justify-content-center vh-100 align-items-center">
    <div class="con">
        <h1 class="text-center text-secondary">403</h1>
        <div class="d-flex justify-content-center">
            <h2 class="w text-center">Access Dencied</h2>
        </div>
        <p class="text-center mb-0">Sorry, but you don't have permission to access this page </p>
        <p class="text-center">You can go to the search bar and search your city </p>
    </div>


</div>