h1,
.h1 {
  font-size: 36px;
  font-weight: bold;
}
.epunda-slab {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font {
  font-size: 16.9px;
}
.over {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
}
.font-new{
    font-size: 14px;
}
.lo{
    font-size: 30px;
}
.temp {
  width: 210px;
}
.wind {
  width: 180px;
}
.text {
  font-size: 25px;
}
.h1 {
  font-size: 55px;
}
.icon {
  width: 65px;
}
.container-icon{
    width: 85px;
}
.bold{
    font-weight: bold;
}
.bor {
  border-radius: 100%;
  border: 3.5px solid black;
  height: 13px;
  width: 13px;
  margin-top: 11px;
}
.span {
  font-size: 14.5px;
}
